*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar-container
{
    width: 100%;
}


body {
    width:100vw;
    height:100vh;
}
.top-header {
    height: 3em; background-color: black; text-align: right; padding-right: 2%;
}
.top-header-content:link {
    line-height: 3em; text-decoration: none; color: #777;
}
.top-header-content:visited {
    line-height: 3em; text-decoration: none; color: #777;
}
.top-header-content:hover {
    line-height: 3em; text-decoration: none; color: #25a8ea;
}
.navbar-right
{
    float: right!important;
    margin-right: -15px;

}


/* EDIT sidebar */
.sidebar-container
{
    
}
.sidebar-container .d-flex .nav button
{
    height: calc(100vh/7);
}

.tab-content
{
    width: 100%;
    height: 100%;
}

.infor-tab {
    align-items: center;
    display: block;
    max-width: 350px;
    margin: 20px 20px;
}

.infor-tab h3{
    text-align: center;
    font-weight: bold;
}

.infor-tab-box {
    display: block;
    padding: 8px;
}

.infor-tab-box input{
    width: 100%;
    height: 30px;
}

.button-sub {
    text-align: center;
}

.button-sub input{
    align-self: center;
    margin: 20px 10px;
    width: 200px;
    height: inherit;
    font-weight: bold;
}

.list-product{
    margin: 20px 20px;
    text-align: center;
}

.list-product h3{
    font-weight: bold;
}

.spinner-inc {
    width: 50%;
}