* {
  box-sizing: border-box;
}

.form-control-lg {
  font-size: 0.8rem;
}

aside {
  border-width: 1px;
  border-right-style: solid;
  border-color: #bdbdbd;
}

.header {
  margin: 15px 0px 20px 0px;
}

ul a:link {
  text-decoration: none;
}

ul a:hover {
  text-decoration: none;
  color: red;
}

ul a:visited {
  text-decoration: underline;
  color: blue;
}

.card {
  box-shadow: 1px 3px #bababa;
  width: 300px;
  margin: 0px 10px 30px 20px;
  text-align: center;
  transition: all 0.5s;
}

.card-text a{
  color: black;
}

.card-text a:link {
  text-decoration: none;
}

.card-text a:hover {
  text-decoration: none;
  color: cyan;
}

.cart-empty {
  margin: 20px 0px 20px 0px;;
}

.return-to-shop {
  background-color: #ee3f4b;
  padding: 8px 10px 8px 10px;
  text-align: center;
  font-weight: bold;
  border-style: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.return-to-shop a{
  color: white;
}

.return-to-shop a:link{
  text-decoration: none;
}